# plugins currently unavailable
vasern/src/plugins/auth
vasern/src/plugins/server-sync

# docs using docusaurus, currently unavailable
website/build
website/blog
website/core
website/node_modules

Dockerfile
docker-compose.yml
.dockerignore