node_modules

# plugins currently unavailable
vasern/src/plugins/auth
vasern/src/plugins/server-sync

# exclude builds and bundles
android/build
android/.gradle

Dockerfile
docker-compose.yml
.dockerignore

# docs using docusaurus, currently unavailable
examples
docs
website