language: node_js
node_js:
- '8'
branches:
  only:
  - master
cache:
  directories:
  - node_modules
before_install:
- npm update
install:
- npm install
- npm install jest
- npm install metro-react-native-babel-preset
script:
- npm test
- npm run coveralls