/* your custom css */

body {
    font-family: -apple-system, system-ui, "Segoe UI", 'Open Sans', "Helvetica Neue", Arial, sans-serif;
    color: #3d556b;
    overflow-x: hidden;
    scroll-behavior: smooth;
}


/* Text */
p a, p a:visited, .button {
    color: #1976d2
}
h2 { font-size: 28px }
p { font-size: 16px; line-height: 1.6em; }

.projectTitleWrapper { color: #FFF }
.projectTitleWrapper p { opacity: 0.7 ;}

.button {
    border-color: #1976d2;
    padding: 10px 15px;
}

.button:hover {
    background: #1976d2;
}

/* Doc left menu */
.toc .toggleNav ul li.navListItemActive a {
    font-weight: bold
}


.hljs__dark .hljs {
    background: #191919;
    border-radius: 0;
    color: #d8d8d8;
}

.hljs {
    border-radius: 0;
}
/* Highlight syntax */
 /* .hljs {
    background: #fafafa;
    color: #334042;
}
.hljs__dark .hljs-keyword {
    color: #C586C0;
}
.hljs__dark .hljs-attr,
.hljs__dark .hljs-built_in {
    color: #BAE7FF
}
.hljs__dark pre { margin-bottom: unset }
.hljs__dark .hljs-number,
.hljs__dark .hljs-string {
    color: #CE9178
}
.hljs-comment {
    color: #a0a0a0
} */
/*
.hljs-keyword, .hljs-selector-tag, .hljs-bullet, .hljs-tag, .hljs-literal {
    color: #5A9DD4;
}

.hljs-number, .hljs-symbol, .hljs-deletion, .hljs-link {
    color: #B6CDA9
}

.hljs-attr, .hljs-string  {
    color: #CC917A
}

.hljs::selection, .hljs span::selection {
    background: #75aadc;
}

.language-ssh .hljs-keyword,
.language-ssh .hljs-variable {
    color: #c5c8c6
} */

/* ==============
**  HOME PAGE
** =========== */

.homeContainer {
    background: #262626;
}
.fixedHeaderContainer {
    padding: 12px 0;
}
.homepage h1,
.homepage small {
    color: #FFF;
    font-weight: normal;
}

.button { border-radius: 0 }
.homepage .button {
    text-transform: capitalize;
    font-size: 1em;
    color: #1976d2;
    border-radius: 0;
    padding: 0.8em 1.2em;
    margin: 1em;
}
.homepage .button:hover {
    background: #1976d2;
    color: #fff;
}

.homepage .btn-primary  {

    background: #1976d2;
    color: #fff;
    transition: background 0.3s, color 0.3s, opacity 0.3s;
}
.homepage .btn-primary:hover { 
    opacity: 0.7;
}

.homepage h2 {
    font-size: 30px;
}
.homepage .mainContainer {
    padding: 0px;
}

/* Content blocks */
.block {
    max-width: 800px;
    margin: auto;
}
.block__split {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.block__col {
    flex: 1;
    min-width: 380px;
}
.block__centered {
    text-align: center
}

.block.block__message {

    padding: 0.8em;
    font-size: 16px;
    text-align: center;
}

.block__article {
    background: #EFF7F8;
    padding: 1em 0 4em 0;
}
.block__article .block__container {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    margin: auto;
}

.block__article h2 {
    margin: 1em 0;
}

.block__article .block__item {

    /* width: 30%; */
    flex: 1 300px;
    margin: 2em 1em;
    background: #fff;
    padding: 1em 1.5em;
    border-radius: 1px;
    display: flex;
    flex-direction: column;

    /* Shadow */
    -webkit-box-shadow: inset 0 0 0 1px #dae4ed, 0 5px 15px -5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 0 0 1px #dae4ed, 0 5px 15px -5px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 0 1px #dae4ed, 0 5px 15px -5px rgba(0, 0, 0, 0.1);

    -webkit-transition: background-color 125ms ease,-webkit-transform .2s ease;
    transition: background-color 125ms ease, transform .2s ease;
}

.block__nowidth {
    max-width: unset;
}

.block__article .block__item:hover {
    transform: translateY(-5px);
    background: #fbfff1;
}

.block__article .block__item p {
    font-size: 14px;    
    font-style: italic;
    opacity: 0.7;
}

.block__article .block__item h4 {
    margin: 0;
    font-weight: 400;
    margin-bottom: 1em;
    padding-top: 1em;
    font-size: 18px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.block__article .block__item .block__content {
    flex: 6;
    font-size: 0.8em;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    margin-bottom: 1.6em;
    height: 3em;
}

.block__article .block__item .block__footer {
    display: flex;
    flex-direction: row;
}

.block__article .block__item .block__footer img {
    height: 40px;
    border-radius: 50%;
}
.block__article .block__item .block__footer p {
    display: flex;
    flex-direction: column;
    padding-left: 2em;
    text-align: left;
    font-style: unset;
}

/* Block Features */
.block__features {
    text-align: center;
}
.block__features .block__item { 
    flex: 1; 
    display: block;
    flex-direction: column;
    text-align: center; 
    padding: 10px;
    min-width: 180px;
    transition: 0.2s ease;
    -webkit-transition: 0.2s ease;
}
.block__features .block__item:hover {
    opacity: 0.7;
}
.block__features img {
    height: 50px;
    padding: 15px 0 5px 0;
}
.block__features p {
    font-size: 22px;
    color: #1E1E1E;
}

/* Feature details */
.block__feature_details .block__item .block__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: calc(100vh / 2);
    align-items: center;
    flex-wrap: wrap;
}
.block__feature_details .block__item.block__item_darker {
    background: #EFF7F8;
}
.block__feature_details img {
    min-width: 320px;
}
.block__feature_details .block__content {
    flex: 1
}
.block__feature_details .block__content p {
    opacity: 0.7;
}

.block__feature_details .block__item h3 {
    font-size: 2em;
    margin-bottom: 1em;
    font-weight: 300;
}

.block__row__inverse {
    flex-direction: row-reverse !important;
}

/* Doc */
.docMainContainer {
    background: #fff;
}

/* Override core/DocsLayout.js */
.pageLighter {
    background: #fafbfc;
}

.docMainContainer h1, 
.docMainContainer h2, 
.docMainContainer h3, 
.docMainContainer h4,
.homepage h2 {
    color: #193652;
}

.docMainContainer h1 {
    font-size: 42px;
}

.docMainContainer h1,
.docMainContainer h2 {
    font-weight: 300;
}

/* Left Nav */
.toc .toggleNav ul {
    padding-left: 1em;
}
.toc .toggleNav .navGroup .navGroupCategoryTitle {
    color: #193652;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: unset;
}
.toc .toggleNav ul li.navListItemActive a {
    color: #1976d2;
}

.toc .toggleNav ul li a {
    color: #4e677d;
}

/* Right Nav */
.onPageNav ul li {
    font-size: 12px;
}


@media only screen and (max-device-width: 736px) {
    html {
        overflow-x: hidden;
    }
    .block {
        padding: 2em;
    }

    .projectTitleWrapper {
        padding: 1em 2em;
        align-items: center;
        text-align: center;
    }

    .projectTitle {
        margin-top: 0;
    }

    .docMainWrapper {
        padding: 0;
    }
    .docMainContainer {
        padding: 4em 1.6em;
    }
    .versionsContainer {
        padding: 1.6em;
    }

    /* .fixedHeaderContainer,
    .navigationSlider .slidingNav ul,
    .slidingNav {
        width: 100vw;
    } */

    .block__article .block__item {
        min-width: calc(100vw - 50px);
    }

    .homeContainer .homeWrapper {
        padding: 2em 0;
    }

    pre {
        overflow-x: scroll;
        width: 100vw;
    }

    .block__feature_details .block__item .block__container {
        padding: 1em;
        align-items: center;
        text-align: center;
        justify-content: center;
        flex-direction: column;
    }

    .block__feature_details .block__item .block__container img {
        min-width: 60px;
    }
}

.doc__warning {
    color: orange;
    border: 1px solid orange;
    border-radius: 5px;
    padding: 0.8em 1em;
    background: #ffa5001a;
    margin-bottom: 1em;
    font-size: .9em;
    font-style: italic;
}

@media only screen and (min-width: 736px ) {
    .docMainContainer {
        margin: 2em 0 !important;
        padding: 3em;

        /* Shadow */
        -webkit-box-shadow: inset 0 0 0 1px #dae4ed, 0 5px 15px -5px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: inset 0 0 0 1px #dae4ed, 0 5px 15px -5px rgba(0, 0, 0, 0.1);
        box-shadow: inset 0 0 0 1px #dae4ed, 0 5px 15px -5px rgba(0, 0, 0, 0.1);
    }

    .homeContainer .block__split .block__col > * {
        align-items: center;
        text-align: center;
    }

    .projectTitleWrapper {
        max-width: 550px;
        margin: auto;
    }
}
@media only screen and (min-width: 1024px) {
    .wrapper {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    .docMainWrapper.wrapper,
    .headerWrapper.wrapper {
        max-width: 1200px !important;
    }

    .separateOnPageNav .docsNavContainer {
        flex: 1 0 220px;
    }

    /* Top nav */
    .navigationSlider .slidingNav ul li a {
        font-weight: 400
    }

    /* Doc */
    .separateOnPageNav.sideNavVisible .navPusher .docMainContainer {
        flex-basis: 860px;
    }

    /* Right nav */
    .onPageNav > .toc-headings {
        margin-top: 2em;
    }

    .navPusher {
        padding-top: 60px;
    }

    .promoSection .promoRow {
        padding: 1.6em 2em;
    }
    .homeWrapper .promoSection .promoRow .pluginRowBlock {
        justify-content: flex-start;
    }

    .homeContainer .homeWrapper,
    .block__feature_details .block__container,
    .block__features {
        max-width: 1000px;
        margin: auto;
    }

    .block__feature_details .block__container {
        margin: auto;
        padding: 2em;
    }

    .homeContainer .homeWrapper {
        padding: 2.4em 0;
    }
    .docMainWrapper > * {
        margin: 0 16px;
    }
    .docMainWrapper > *:last-child {
        margin: 0;
        padding-left: 2em;
    }
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
